html, body{
  height: 100%;
  width: 100%;
	/*padding-top: 30px;*/
  margin: 0;
/*  font-size: 14px;*/
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}

/*navbar*/
/*.navbar.transparent.navbar-inverse .navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}*/

/**parallax area*/
.content{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}
.parallax-1, .parallax-2, .parallax-3 {
    /* Create the parallax scrolling effect */
    position: relative;
    /*opacity: 0.65;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-1{
     /* The image used */
    background-image: url("parallax-1.jpg");
    top: -100px;
    min-height: 750px;
}
.parallax-2{
    filter:brightness(125%);
     /* The image used */
    background-image: url("parallax-2.jpg");

    /* Set a specific height */
    min-height: 500px;
}
.parallax-3{
     /* The image used */
    background-image: url("parallax-3.jpg");

    /* Set a specific height */
    min-height: 500px;
}
/*input[type="button"]:not(.active) {
    background-color:transparent;
}

.active {
    background-color: #007bff;
    color :#fff;
}

/*input[type="button"]:hover:not(.active) {
    background-color: #ddd;
}

/**DATATABLES OVERRIDE CSS
div#tablesBranches_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer > div.row{
    width: 100%;
}**/





/*************ADMIN****************/
.admin-sidenav{
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  position:fixed;
  display: block;
  overflow-y: auto;
  max-height: 600px;
}

/*************COLORS NI MATTHEW****************/
.bg-grey{
  background-color: #9E9E9E !important;
}

.bg-grey-light{
  background-color: #E0E0E0 !important;
}

.bg-grey-dark{
  background-color: #212121 !important;
}

.bg-grey-50{
  background-color: #FAFAFA !important;
}
/*************CUSTOM SCROLLBAR**************/
#customScrollbar::-webkit-scrollbar-track
{
  /**-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);**/
  background-color: #FFFFFF;
}

#customScrollbar::-webkit-scrollbar
{
  width: 8px;
  background-color: #E0E0E0;
}

#customScrollbar::-webkit-scrollbar-thumb
{
  background-color: #9E9E9E;
  border: 1px solid #212121;
}

.card-highlight:hover{
  background: #E0E0E0;
  color: #212121;
  -webkit-transition: all .15s linear; 
     -moz-transition: all .15s linear; 
      -ms-transition: all .15s linear; 
       -o-transition: all .15s linear;
          transition: all .15s linear;
}

#dataTableHeightCustom{
  height: 100%;
}

#fab-add{
  position: fixed;
  top:86%;
  left:92%;
}